ul.breadcrumbs li span {
    padding-left:0;
}

ul.breadcrumbs li:last-child span {
    padding-left:12px;
}

h1 { font-size: 24px; }

h2 { font-size: 18px; }

h3 { font-size: 16px; }

h4 { font-size: 14px; }

h5 { font-size: 12px; }

h6 { font-size: 14px; }

div.alert-box ul {
	margin-bottom: 0;
}