ul.breadcrumbs li span {
    padding-left:0;
}

ul.breadcrumbs li:last-child span {
    padding-left:12px;
}

h1 { font-size: 24px; }

h2 { font-size: 18px; }

h3 { font-size: 16px; }

h4 { font-size: 14px; }

h5 { font-size: 12px; }

h6 { font-size: 14px; }

div.alert-box ul {
	margin-bottom: 0;
}

body {
background: url(../images/general/subtle_grunge.png);
}

.content-row {
margin: 10px;
background-color: rgba(255, 255, 255, 1);
-webkit-box-shadow: 0px 0px 7px rgba(50, 50, 50, 0.3);
-moz-box-shadow:    0px 0px 7px rgba(50, 50, 50, 0.3);
box-shadow:         0px 0px 7px rgba(50, 50, 50, 0.3);
}